//#1867c0
$PRIMARY_COLOR = #463e52
$SECONDARY_COLOR = #c9c2e1
$BACK_COLOR = #F3F2F1
$APP_PADDING = 20px
$SHADOW = 0 2px 20px 0 rgba(0,0,0,0.1)
$RED = #f96332
$AUTH_BACK_COLOR = #000121

$FONT_1 = Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif
$FONT_2 = Verdana, Geneva, sans-serif
$FONT_3 = "Lucida Sans Unicode", "Lucida Grande", sans-serif
$FONT_FAMILY = 'Muli', Tahoma, sans-serif

::-webkit-scrollbar
  width 4px
  height 4px
  background-color #D3DCE6
::-webkit-scrollbar-button
::-webkit-scrollbar-track
  display none
::-webkit-scrollbar-thumb
  background-color #7d7d7d
::-webkit-scrollbar-thumb:hover
  background-color #525252

html
  min-height 100%
  background $BACK_COLOR

body, .el-button, .el-input__inner, .el-textarea__inner
  font-family $FONT_FAMILY

#app
  width 100%
  color #606266
  background $BACK_COLOR
  box-sizing border-box

h1, h2, h3, h4, h5, h6
  font-weight 700

.page-container
  padding 20px

.sub-title, .title
  margin 15px 0 30px
  font-size 18px

.title
  text-align center
  padding-bottom 20px
  border-bottom 1px solid #8c939d

.main-title
  text-align center
  box-sizing border-box
  width 100%
  padding 13px 0
  background $PRIMARY_COLOR
  color #fff

#forms
  display flex
  justify-content space-around

#form-menu
  max-width 450px
  width 100%

#form-friends
  max-width 450px
  width 100%

.btn-remove {
  margin-left 8px;
}

.menu, .friends
  display flex
  justify-content space-around
  flex-wrap wrap
  width 100%
  box-sizing border-box
  margin 0 0 20px 0
  .menu-item, .friend
    margin-bottom 20px
    width 30%

.table-container
  overflow auto
  margin-bottom 20px
.table
  min-width 100%
  .table-row
    display flex
    &_main
      .table-cell
        text-align center
        background #323232
        color #fff
    &_title
      .table-cell
        background $PRIMARY_COLOR
        color #fff
  .table-cell
    border 1px solid #323232
    box-sizing border-box
    padding 10px
    width 100%
    background rgb(245, 245, 245)
    overflow hidden

  .check-yes
    background orangered
    color #fff

  .check-no
    background chartreuse

.percent
  max-width: 100px;
  margin 0 10px;

.cursor-pointer
  cursor pointer


@media only screen and (max-width : 960px)
  #form-menu, #form-friends
    max-width none

  #forms
    flex-direction column

  .menu, .friends
    flex-direction column
    .menu-item, .friend
      width 100%

  #app .el-dialog
    width 100%

  .controls .el-button
    margin 5px
